<% content_for :sidebar do %>
  <h1>This is great!</h1>
<% end %>

<h1> POST INDEX </h1>

<div id = 'post_index'>

  <ul>

  <%= render @posts %>

  </ul>

</div>

<%= link_to 'New Post', post_new_path %>
