<% content_for :sidebar do %>
  <%if session[:id] %>
    <p><%= link_to "logout", signout_path %></p>
  <%else%>
    <p><%= link_to "sign-in/sign-up", user_new_path %></p>
  <%end%>

<%end%>

<h1> POST INDEX </h1>

<div id = 'post_index'>

  <ul>

  <%= render @posts %>

  </ul>

</div>

<%= link_to 'New Post', post_new_path %>
